@import "tailwindcss";
@import "nextra-theme-docs/style.css";

@variant dark (&:where(.dark, .dark *));

@theme {
  --nextra-bg-color: #000;
  --nextra-bg-color-dark: #000;
}

body {
}

.nextra-mobile-nav {
  background-color: white;

  .dark & {
    background-color: black;
  }
}

.featured-pattern {
  @apply relative overflow-hidden rounded-lg border bg-gradient-to-br dark:from-neutral-900/50 dark:to-neutral-900 from-neutral-100/50 to-neutral-100 p-8;
}
